.score {
    margin-top: 25px;
    font-size: 24pt;
    font-weight: bold;
    color: white;
}

span  {
    color: rgb(255, 238, 0);
}

.grid {
    margin-top: 5px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(208, 208, 208);
}

.grid div {
    width: 50px;
    height: 50px;
    
}

.snake {
    background-color: rgb(7, 69, 7);
}

.apple {
    background-color: rgb(128, 8, 8);
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('shadow.jpg');
}